@import "defstyle.scss";
@import "settings.scss";
@import "swiper.scss";
@import url("https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:regular,600,700,800&display=swap");

$blue: #15B2F5;
$grey: #545971;
$gray3: #9EA3B5;
$black: #171921;
$darkBlue: #142257;

body {
    font-size: rem(18);
    background-color: #fff;
    font-family: "Plus Jakarta Sans";
    color: #fff;
    -webkit-tap-highlight-color: transparent;

    .lock & {
        overflow: hidden;
        touch-action: none;
        -ms-scroll-chaining: none;
        overscroll-behavior: none;
    }
}

[class*="__container"] {
    max-width: rem(1490);
    padding-right: rem(25);
    padding-left: rem(25);
    margin: 0 auto;
}

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

.page {
    flex: 1 1 auto;
}

//==================================================================== fonts Icon ==========================================================
// @font-face {
//     font-family: 'icons';
//     font-display: swap;
//     src:
//         url('../fonts/icons.woff2') format('woff2'),
//         url('../fonts/icons.woff') format('woff');
//     font-weight: 400;
//     font-style: normal;
// }

// %ic {
//     font-family: "icons";
//     font-style: normal;
//     font-weight: normal;
//     font-variant: normal;
//     text-transform: none;
//     line-height: 1;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }

// [class*="_icon-"] {
//     &:before {
//         @extend %ic;
//         display: block;
//     }
// }

// ._icon-arrow:before {
//     content: "\e900";
// }

// ._icon-link:before {
//     content: "\e903";
// }

// ._icon-github:before {
//     content: "\e901";
// }

// ._icon-instagram:before {
//     content: "\e902";
// }

// ._icon-linkedin:before {
//     content: "\e904";
// }

// ._icon-twitter:before {
//     content: "\e905";
// }

// ==================================================================== Common =======================================================
.title {
    @include adaptive-value("font-size", 52, 24);
    line-height: percent(64, 52);
    font-weight: 700;
}

.text {
    line-height: percent(28, 18);
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input {
    position: relative;
    border-radius: rem(0) !important;
    width: 100%;
}

.input[placeholder]:not([data-placeholder-nohiden]) {
    &::placeholder {
        transition: opacity 0.3s;
    }

    &:focus::placeholder {
        opacity: 0;
    }
}

textarea.input {
    resize: none;
    padding: 0px 0px;
}

// ==================================================================== Header =======================================================
.header {
    background-color: $darkBlue;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;

    // .header__container

    &__container {
        max-width: rem(1600);
        min-height: rem(80);
        display: grid;
        grid-template-columns: rem(170) 1fr rem(170);
        align-items: center;
        gap: rem(5);
        padding-block: rem(5);

        @media (max-width: em(767.98)) {
            min-height: rem(56);
            grid-template-columns: rem(170) auto;
            justify-content: space-between;
        }
    }

    // .header__logo

    &__logo {
        z-index: 10;
    }

    // .header__menu

    &__menu {}

    // .header__time

    &__time {
        justify-self: end;
        line-height: percent(24, 18);
        font-weight: 700;
        display: flex;
        align-items: center;
        gap: rem(10);

        &::before {
            content: '';
            background-color: #FF5E5E;
            border-radius: 50%;
            width: rem(12);
            height: rem(12);
            flex: 0 0 rem(12);
        }

        @media (max-width: em(767.98)) {
            justify-content: flex-end;
        }
    }

}

.menu {
    justify-self: center;

    // .menu__icon

    // .menu__body

    &__body {
        @media (max-width: em(767.98)) {
            position: fixed;
            top: 0;
            right: -120%;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: #1F3584;
            padding: rem(90) rem(25) rem(30) rem(25);
            transition: right 0.5s ease;
            z-index: 5;
            display: flex;
            flex-direction: column;
            row-gap: rem(60);

            &::before {
                content: '';
                position: fixed;
                top: 0;
                right: -120%;
                width: 100%;
                height: rem(56);
                background-color: $darkBlue;
                z-index: 2;
                transition: right 0.5s ease;
            }

            .menu-open & {
                right: 0;

                &::before {
                    right: 0;
                }
            }
        }
    }

    // .menu__list

    &__list {
        display: flex;
        flex-wrap: wrap;
        row-gap: rem(3);
        @include adaptive-value("column-gap", 57, 15, 0, $containerWidth, 768);

        @media (max-width: em(767.98)) {
            font-size: rem(24);
            flex-direction: column;
            gap: rem(64);
            align-items: flex-end;
            flex-grow: 1;
        }
    }

    // .menu__item

    &__item {}

    // .menu__link

    &__link {
        line-height: percent(24, 18);
        position: relative;
        font-weight: 700;

        @media(any-hover: hover) {
            &:hover {
                &::after {
                    width: 100%;
                }
            }
        }

        &::after {
            display: block;
            position: absolute;
            left: 0;
            width: 0;
            height: 0.125rem;
            background-color: #fff;
            content: "";
            transition: width 0.2s ease-out;
        }
    }
}


.icon-menu {
    display: none;
    background-color: transparent;

    @media (max-width: em(767.98)) {
        display: inline-block;
        position: relative;
        width: rem(18);
        height: rem(14);
        flex: 0 0 rem(18);
        z-index: 10;


        @media (any-hover: none) {
            cursor: default;
        }

        span,
        &::before,
        &::after {
            content: "";
            transition: all 0.3s ease 0s;
            position: absolute;
            width: 100%;
            height: rem(2);
            background-color: #fff;
            right: 0;
            border-radius: rem(10);
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        span {
            top: calc(50% - rem(1));
        }

        .menu-open & {
            span {
                width: 0;
            }

            &::before,
            &::after {}

            &::before {
                top: calc(50% - rem(1));
                transform: rotate(-45deg);
            }

            &::after {
                bottom: calc(50% - rem(1));
                transform: rotate(45deg);
            }
        }
    }
}

.call-button {
    display: inline-flex;
    padding: rem(8);
    background-color: $blue;
    border-radius: rem(64);
    @include adaptive-value("font-size", 24, 18);
    font-weight: 700;
    line-height: percent(32, 24);
    transition: background-color 0.3s ease 0s;

    @media(any-hover:hover) {
        &:hover {
            background-color: #0071a1;
        }
    }

    span {
        display: flex;
        align-items: center;
        @include adaptive-value("padding-left", 16, 12);
        @include adaptive-value("gap", 16, 12);

        &::after {
            content: '';
            background: url('/img/hero/icon-call.svg') center no-repeat;
            flex: 0 0 rem(48);
            width: rem(48);
            height: rem(48);
            border-radius: 50%;
            background-color: #fff;
        }
    }
}

// ==================================================================== Hero =======================================================

.hero {

    position: relative;
    background-color: $darkBlue;
    display: grid;
    grid-template-columns: percent(412, 1870) 1fr percent(412, 1870);
    padding-top: rem(80);
    padding-inline: rem(15);
    @include adaptive-value("padding-bottom", 60, 35);
    column-gap: rem(10);

    @media (max-width: em(991.98)) {
        grid-template-columns: 1fr;
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        bottom: rem(-2);
        @include adaptive-value("height", 45, 30);
        background-color: #fff;
        width: percent(490, 1870);
        clip-path: polygon(14% 0, 100% 0, 100% 100%, 0% 100%);
        max-width: rem(485);
    }

    &::before {
        left: 0;
        transform: scale(-1, 1);
    }

    &::after {
        right: 0;
    }

    // .hero__image

    &__image {
        position: relative;
        aspect-ratio: 412 / 836;
        overflow: hidden;

        @media (max-width: em(991.98)) {
            display: none;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(35.067deg, #131F4B 0%, rgba(19, 31, 75, 0%) 100%);

        }

        img {
            width: 100%;
            object-fit: cover;
            height: 100%;
        }

        &--left {
            border-radius: rem(24) rem(24) 0 rem(24);

            &::before {
                background: linear-gradient(-12.0deg, #131F4B 0%, rgba(19, 31, 75, 0%) 100%);
            }

            img {
                object-position: 41%;
            }
        }

        &--right {
            border-radius: rem(24) rem(24) rem(24) 0;

            img {
                object-position: 77%;
            }
        }

    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(30);
    }

    // .hero__content

    &__content {
        display: flex;
        max-width: rem(673);
        flex: 1 1 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    // .hero__title

    &__title {
        text-align: center;
        font-weight: 800;
        @include adaptive-value("font-size", 64, 32);
        line-height: percent(76, 64);

        @media (max-width: em(767.98)) {
            font-weight: 700;
        }

        &:not(:last-child) {
            margin-bottom: rem(24);
        }
    }

    // .hero__list

    &__list {
        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 24, 12);
        }

    }

    // .hero__done

    &__done {
        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 48, 24);
        }

        justify-content: center;
    }

    // .hero__button

    &__button {}

    // .hero__advantages

    &__advantages {}
}

.list-hero {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    @include adaptive-value("column-gap", 52, 22);

    // .list-hero__item

    &__item {
        position: relative;
        color: $gray3;
        font-weight: 700;
        @include adaptive-value("font-size", 20, 14);
        line-height: percent(28, 20);

        @media (max-width: em(767.98)) {
            font-weight: 600;
        }

        &:not(:last-child) {
            &::after {
                content: '';
                width: rem(5);
                height: rem(5);
                border-radius: 50%;
                background-color: $gray3;
                position: absolute;
                @include adaptive-value("right", -30, -14);
                top: calc(50% - rem(2));

            }
        }
    }
}

.done {
    display: flex;
    flex-wrap: wrap;
    @include adaptive-value("column-gap", 40, 24);
    row-gap: rem(10);
    // .done__item

    &__item {
        background: url('/img/hero/icon-check.svg') left rem(1) no-repeat;
        color: $blue;
        padding-left: rem(32);
        @include adaptive-value("font-size", 20, 14);
        line-height: percent(32, 20);
    }

}

.advantages-hero {
    display: grid;
    grid-template-columns: repeat(4, auto);
    max-width: rem(960);
    @include adaptive-value("column-gap", 64, 20);
    row-gap: rem(20);

    @media (max-width: em(1920)) {
        grid-template-columns: repeat(2, auto);
    }

    @media (max-width: em(359.98)) {
        grid-template-columns: auto;
    }

    // .advantages-hero__item

    &__item {
        display: flex;
        align-items: center;
        @include adaptive-value("gap", 16, 8);
        position: relative;

        @media (min-width: em(1920)) {
            &:not(:last-child) {
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: rem(-32);
                    height: 100%;
                    width: rem(1);
                    background: linear-gradient(0deg, rgba(20, 34, 87, 0) 0%, rgba(79, 102, 183, 1) 50%, rgba(20, 34, 87, 0) 100%);
                }
            }
        }
    }

    // .advantages-hero__icon

    &__icon {
        display: flex;
        width: rem(48);
        flex: 0 0 rem(48);
        height: rem(48);
        background-color: #1F3584;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        img {
            max-width: 100%;
        }
    }

    // .advantages-hero__text

    &__text {
        @include adaptive-value("font-size", 18, 14);
        font-weight: 600;
        line-height: percent(24, 18);
    }
}

// ==================================================================== About =======================================================
.about {
    @include adaptive-value("padding-top", 120, 60);
    @include adaptive-value("padding-bottom", 185, 64);

    // .about__container

    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(32);
        align-items: center;

        @media (max-width: em(991.98)) {
            grid-template-columns: auto;
        }
    }

    // .about__content

    &__content {
        max-width: rem(580);

        @media (max-width: em(991.98)) {
            order: 2;
            max-width: none;
        }
    }

    // .about__title

    &__title {
        color: $black;

        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 24, 12);
        }
    }

    // .about__text

    &__text {
        color: $grey;

        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 56, 32);
        }
    }

    // .about__items

    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include adaptive-value("row-gap", 32, 24);
        column-gap: rem(55);

        @media (max-width: em(580)) {
            grid-template-columns: auto;
        }

        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 56, 32);
        }
    }

    // .about__item

    &__item {
        color: $darkBlue;
        background: url('/img/about/icon-check.svg') 0 em(5, 20) no-repeat;
        padding-left: rem(30);
        font-weight: 700;
        @include adaptive-value("font-size", 20, 16);
        line-height: percent(28, 20);

        @media (max-width: em(991.98)) {
            font-weight: 600;
        }

        opacity: 0;
        transform: translate(0, 15%);
        transition: opacity 0.5s,
        transform 0.5s;

        ._watcher-view & {
            opacity: 1;
            transform: translate(0, 0);

            @for $i from 1 through 6 {
                &:nth-child(#{$i}) {
                    $delay: $i * 0.3;
                    transition: #{$delay}s;
                }
            }
        }
    }

    // .about__info

    &__info {
        display: inline-block;
        padding-block: rem(12);
        @include adaptive-value("padding-inline", 32, 24);
        background-color: $blue;
        @include adaptive-value("border-radius", 24, 12);
        max-width: rem(450);


        a {
            white-space: nowrap;
            font-weight: 600;
            font-size: rem(20);

            @media(any-hover:hover) {
                &:hover {
                    text-decoration: underline;
                }
            }

            @media(any-hover:none) {
                text-decoration: underline;
            }

            @media (max-width: em(767.98)) {
                font-size: rem(18);
            }
        }
    }

    // .about__image

    &__image {
        aspect-ratio: 712 / 700;

        @media (max-width: em(991.98)) {
            order: 1;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

// ==================================================================== Services =======================================================
.services {
    @include adaptive-value("padding-bottom", 160, 52);

    // .services__container

    &__container {
        text-align: center;
    }

    // .services__title

    &__title {
        color: $black;

        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 24, 12);
        }
    }

    // .services__text

    &__text {
        display: inline-block;
        color: $grey;
        max-width: rem(560);

        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 60, 0);
        }
    }

    // .services__items

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(320), 1fr));

        @media (max-width: em(480)) {
            grid-template-columns: repeat(auto-fit, minmax(rem(280), 1fr));
        }
    }

    // .services__item

    &__item {}
}

.item-service {
    padding-block: rem(32);
    padding-inline: rem(32);
    text-align: left;

    @media (max-width: em(680)) {
        padding-inline: rem(0);
        text-align: center;
    }

    // .item-service__icon

    &__icon {
        display: inline-flex;
        flex: 0 0 rem(64);
        width: rem(64);
        height: rem(64);
        justify-content: center;
        align-items: center;
        background-color: $darkBlue;
        border-radius: rem(20);

        &:not(:last-child) {
            margin-bottom: rem(16);
        }

        img {
            max-width: 100%;
        }
    }

    // .item-service__title

    &__title {
        font-weight: 700;
        font-size: rem(24);
        line-height: percent(32, 24);
        color: $black;

        &:not(:last-child) {
            margin-bottom: rem(12);
        }
    }

    // .item-service__text

    &__text {
        color: $grey;
    }

    // .item-service__button

    &__button {
        display: inline-block;
        background-color: #fff;
        color: $blue;
        @include adaptive-value("font-size", 24, 18);
        font-weight: 700;
        line-height: percent(32, 24);
        border-radius: rem(60);
        padding-inline: rem(79);
        @include adaptive-value("padding-block", 16, 12);
        transition: all 0.3s ease 0s;

        @media(any-hover:hover) {
            &:hover {
                background-color: $darkBlue;
            }
        }
    }

    &--action {
        border-radius: rem(24);
        background-color: $blue;
        text-align: center;

        .item-service__title {
            color: #fff;
        }

        .item-service__text {
            color: #fff;

            &:not(:last-child) {
                margin-bottom: rem(32);
            }
        }
    }
}

// ==================================================================== Advantages =======================================================
.advantages {
    @include adaptive-value("padding-inline", 60, 15, 2, $containerWidth, 991.98);

    &__body {
        position: relative;
        background-color: $darkBlue;
        @include adaptive-value("border-radius", 24, 12);
        @include adaptive-value("padding-inline", 70, 20, 2, $containerWidth, 991.98);

        &::before,
        &::after {
            content: '';
            position: absolute;
            background: url('/img/advantages/Decoration.svg') center no-repeat;
            height: 100%;
            width: rem(45);
            top: 50%;
            transform: translate(0, -50%);

            @media (max-width: em(991.98)) {
                display: none;
            }
        }

        &::before {
            left: rem(-15);
            transform: translate(0, -50%) rotate(180deg);
        }

        &::after {
            right: rem(-15);
        }
    }

    // .advantages__container

    &__container {
        @include adaptive-value("padding-block", 64, 32);

        @media (max-width: em(991.98)) {
            text-align: center;
        }
    }

    // .advantages__header

    &__header {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        gap: rem(20);

        @media (max-width: em(991.98)) {
            grid-template-columns: auto;
        }

        @include adaptive-value("padding-bottom", 120, 52);
        position: relative;

        &::after {
            content: '';
            position: absolute;
            @include adaptive-value("bottom", 60, 38, 2, $containerWidth, 767.98);
            left: 0;
            background: linear-gradient(90deg, rgba(20, 34, 87, 0) 0%, rgba(79, 102, 183, 1) 50%, rgba(20, 34, 87, 0) 100%);
            height: rem(1);
            width: 100%;

            @media (max-width: em(767.98)) {
                display: none;
            }
        }
    }

    // .advantages__title

    &__title {
        max-width: rem(600);

        @media (max-width: em(991.98)) {
            max-width: none;
        }
    }

    // .advantages__text

    &__text {
        color: $gray3;
        max-width: rem(613);
        align-self: end;

        @media (max-width: em(991.98)) {
            max-width: none;
        }
    }

    // .advantages__items

    &__items {
        display: grid;
        grid-template-columns: repeat(2, auto);
        column-gap: rem(20);
        row-gap: rem(55);
        justify-content: space-between;

        @media (max-width: em(991.98)) {
            grid-template-columns: auto;
        }
    }

    // .advantages__item

    &__item {}
}

.item-advantage {
    display: flex;
    max-width: rem(630);

    @media (max-width: em(991.98)) {
        max-width: none;
        flex-direction: column;
        align-items: center;
    }

    @include adaptive-value("gap", 32, 12);
    align-items: start;

    // .item-advantage__icon

    &__icon {
        display: inline-block;
        width: rem(100);
        flex: 0 0 rem(100);
        height: rem(100);

        @media (max-width: em(767.98)) {
            width: rem(80);
            flex: 0 0 rem(80);
            height: rem(80);
        }

        img {
            width: 100%;
        }
    }

    // .item-advantage__content

    &__content {
        display: grid;
        gap: rem(12);
    }

    // .item-advantage__title

    &__title {
        font-weight: 700;
        line-height: percent(32, 24);
        @include adaptive-value("font-size", 24, 18);
    }

    // .item-advantage__text

    &__text {
        color: $gray3;
    }
}

// ==================================================================== How =======================================================
.how {
    @include adaptive-value("padding-top", 184, 52);
    @include adaptive-value("padding-bottom", 290, 64);

    // .how__container

    &__container {
        display: grid;
        grid-template-columns: percent(703, 1440) 1fr;
        gap: rem(24);

        @media (max-width: em(991.98)) {
            grid-template-columns: auto;
        }
    }

    // .how__image

    &__image {
        aspect-ratio: 703 / 618;

        img {
            width: 100%;
            height: 100%;

            @media (min-width: em(991.98)) {
                transform: translate(percent(-74, 703), 0);

            }
        }
    }

    // .how__content

    &__content {}

    // .how__title

    &__title {
        color: $black;
        max-width: rem(400);

        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 60, 24);
        }
    }

    // .how__list

    &__list {}
}

.list-how {

    list-style-type: none;
    counter-reset: item;

    li {
        position: relative;

        &:before {
            counter-increment: item;
            content: counter(item) ".";
            position: absolute;
            left: 0;
            color: $gray3;
            line-height: percent(64, 52);
            font-weight: 700;
            font-size: rem(52);
        }
    }

    // .list-how__item

    &__item {
        padding-left: rem(70);
        display: grid;
        grid-template-columns: rem(170) auto;
        align-content: start;
        @include adaptive-value("gap", 36, 12);

        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 52, 24);
        }

        @media (max-width: em(767.98)) {
            grid-template-columns: auto;
        }
    }

    // .list-how__title

    &__title {
        color: $black;
        line-height: percent(32, 24);
        font-weight: 700;
        @include adaptive-value("font-size", 24, 20);
        max-width: rem(164);

        @media (max-width: em(767.98)) {
            font-weight: 600;
        }
    }

    // .list-how__text

    &__text {
        color: $grey;
        max-width: rem(420);

        @media (max-width: em(991.98)) {
            max-width: none;
        }

        @media (max-width: em(767.98)) {
            margin-left: rem(-70);
        }
    }
}

// ==================================================================== Reviews =======================================================
.reviews {
    @include adaptive-value("padding-bottom", 215, 80);

    // .reviews__container

    &__container {
        max-width: rem(1160);
        text-align: center;
    }

    // .reviews__title

    &__title {
        display: inline-block;
        color: $black;
        max-width: rem(650);

        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 66, 32);
        }
    }

    &__body {
        padding-inline: rem(72);
        position: relative;

        @media (max-width: em(767.98)) {
            padding-inline: 0;
        }
    }

    // .reviews__slider

    &__slider {
        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 106, 32);
        }
    }

    // .reviews__wrapper

    &__wrapper {}

    // .reviews__slide

    &__slide {}

    &__control {
        @media (max-width: em(767.98)) {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
        }
    }

    // .reviews__arrow

    &__arrow {
        background: $blue url('/img/reviews/arrow.svg') center no-repeat;
        width: rem(48);
        height: rem(48);
        border-radius: 50%;

        &--left {

            transform: rotate(180deg);
        }

        @media (min-width: em(767.98)) {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);

            &--left {
                left: 0;
                transform: translate(0, -50%) rotate(180deg);
            }

            &--right {
                right: 0;
            }
        }

        &.swiper-button-disabled {
            background: #E3E6F0 url('/img/reviews/arrow.svg') center no-repeat;
            pointer-events: none;
            cursor: default;
        }
    }

    &__pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: rem(12);

        .swiper-pagination-bullet {
            flex: 0 0 rem(12);
            height: rem(12);
            border-radius: 50%;
            background-color: #E3E6F0;
            transition: all 0.3s ease 0s;
            cursor: pointer;
        }

        .swiper-pagination-bullet-active {
            transition: all 0.3s ease 0s;
            flex: 0 0 rem(40);
            border-radius: rem(24);
            background-color: $blue;

            @media (max-width: em(359.98)) {
                flex: 0 0 rem(12);
                height: rem(12);
            }
        }
    }

}

.slide-review {

    // .slide-review__logo

    &__logo {
        position: relative;
        padding-bottom: rem(25);

        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 40, 24);
        }

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: rem(1);
            bottom: 0;
            left: 0;
            background: linear-gradient(90deg, rgba(20, 34, 87, 0) 0%, $gray3 50%, rgba(20, 34, 87, 0) 100%);
        }
    }

    // .slide-review__text

    &__text {
        display: inline-block;
        color: $grey;
        font-size: rem(20);
        max-width: rem(730);

        @media (max-width: em(767.98)) {
            font-size: rem(18);
            max-width: none;
        }

        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 40, 24);
        }

        p {
            &:not(:last-child) {
                margin-bottom: rem(15);
            }
        }
    }

    // .slide-review__user

    &__user {
        display: flex;
        @include adaptive-value("gap", 32, 16);
        align-items: center;
        justify-content: center;
    }

    // .slide-review__avatar

    &__avatar {
        flex: 0 0 rem(76);
        max-width: rem(76);
        height: rem(76);

        @media (max-width: em(767.98)) {
            max-width: rem(52);
            flex: 0 0 rem(52);
            height: rem(52);
        }

        border-radius: 50%;
        overflow: hidden;
        aspect-ratio: 1 / 1;

        img {
            width: 100%;
            height: 100%;
        }
    }

    // .slide-review__info

    &__info {
        text-align: left;
    }

    // .slide-review__name

    &__name {
        color: $black;
        line-height: percent(32, 24);
        font-weight: 700;
        @include adaptive-value("font-size", 24, 20);

        &:not(:last-child) {
            margin-bottom: rem(7);
        }
    }

    // .slide-review__rating

    &__rating {}

    // .slide-review__pagination

    &__pagination {}
}

.rating {
    display: flex;
    gap: rem(10);

    // .rating__item

    &__item {
        background: url('/img/reviews/star.svg') 0 0 no-repeat;
        aspect-ratio: 1 / 1;
        width: rem(26);
        flex: 0 0 rem(26);

        &--active {
            background: url('/img/reviews/star-fill.svg') 0 0 no-repeat;
        }
    }
}

// ==================================================================== Blog =======================================================

.blog {
    @include adaptive-value("padding-bottom", 175, 80);

    // .blog__container

    &__container {
        text-align: center;
    }

    // .blog__title

    &__title {
        color: $black;

        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 24, 16);
        }
    }

    // .blog__text

    &__text {
        color: $grey;
        @include adaptive-value("font-size", 24, 18);
        max-width: rem(700);
        display: inline-block;

        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 56, 32);
        }
    }

    // .blog__items

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(270), 1fr));
        @include adaptive-value("gap", 48, 32);

        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 56, 32);
        }
    }

    // .blog__item

    &__item {}

    // .blog__link

    &__link {
        color: $blue;
        @include adaptive-value("font-size", 24, 18);
        font-weight: 700;
        line-height: percent(32, 24);
        display: flex;
        gap: rem(4);
        align-items: center;
        justify-content: center;

        &::after {
            content: '';
            background: url('/img/blog/arrow.svg') center no-repeat;
            width: rem(24);
            flex: 0 0 rem(24);
            height: rem(24);

        }

        @media(any-hover:hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.item-blog {
    text-align: left;

    // .item-blog__img

    &__img {
        display: inline-block;
        aspect-ratio: 448 / 300;
        border-radius: rem(24);
        overflow: hidden;

        img {
            max-width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.4s ease 0s;

            @media(any-hover:hover) {
                &:hover {
                    transform: scale(1.05);
                }
            }
        }

        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 24, 16);
        }
    }

    // .item-blog__date

    &__date {
        color: $grey;
        line-height: percent(28, 18);

        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 16, 12);
        }
    }

    // .item-blog__title

    &__title {
        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 16, 12);
        }
    }

    // .item-blog__title-link

    &__title-link {
        font-weight: 700;
        line-height: percent(40, 32);
        @include adaptive-value("font-size", 32, 20);
        color: $black;

        @media(any-hover:hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__text {
        color: $grey;

        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 24, 16);
        }
    }

    // .item-blog__tags

    &__tags {
        display: flex;
        column-gap: rem(12);
        row-gap: rem(5);
        flex-wrap: wrap;
    }

    // .item-blog__tag

    &__tag {
        font-weight: 600;
        font-size: rem(14);
        line-height: percent(20, 14);
        padding: rem(8) rem(16);
        background-color: #F3F5F9;
        border-radius: rem(30);
        color: $grey;
        transition: all 0.3s ease 0s;

        @media(any-hover:hover) {
            &:hover {
                background-color: #cdcdcd;
            }
        }
    }

}

// ==================================================================== FAQ =======================================================
.page {

    // .page__questions

    &__questions {}
}

.questions {

    // .questions__container

    &__container {
        display: grid;
        grid-template-columns: 1fr percent(833, 1440);

        @media (max-width: em(991.98)) {
            row-gap: rem(32);
            grid-template-columns: auto;
        }
    }

    // .questions__column

    &__column {
        padding-right: rem(20);

        @media (max-width: em(991.98)) {
            padding-right: 0;
            text-align: center;
        }
    }

    // .questions__title

    &__title {
        color: $black;

        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 24, 16);
        }
    }

    // .questions__text

    &__text {
        color: $black;
        @include adaptive-value("font-size", 20, 18);
        line-height: percent(32, 20);

        a {
            color: $blue;
            line-height: percent(32, 24);
            font-weight: 700;
            @include adaptive-value("font-size", 24, 18);

            @media(any-hover:hover) {
                &:hover {
                    text-decoration: underline;
                }
            }

            @media (max-width: em(767.98)) {
                font-weight: 600;
            }
        }
    }

    // .questions__spollers

    &__spollers {}
}

.spoller-question {
    @include adaptive-value("padding-bottom", 230, 32);

    // .spoller-question__item

    &__item {
        border-radius: rem(12);
        background-color: #F3F5F9;
        padding: rem(24) rem(32);

        &:not(:last-child) {
            margin-bottom: rem(12);
        }
    }

    // .spoller-question__title

    &__title {
        color: $grey;
        line-height: percent(32, 24);
        font-weight: 700;
        @include adaptive-value("font-size", 24, 18);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(10);
        cursor: pointer;

        &::after {
            content: "";
            background: url('/img/faq/arrow.svg') center no-repeat;
            width: rem(32);
            height: rem(32);
            flex: 0 0 rem(32);
            transition: all 0.5s ease 0s;
        }

        &._spoller-active {
            &::after {
                transform: rotate(180deg);
            }
        }
    }

    // .spoller-question__body

    &__body {
        padding-top: rem(16);
        color: #737373;
        line-height: percent(28, 18);
    }
}

// ==================================================================== Talk =======================================================
.talk {
    background-color: $darkBlue;
    position: relative;

    // .talk__container

    &__container {
        @media (min-width: em(991.98)) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: em(991.98)) {
            text-align: center;
        }

        @include adaptive-value("gap", 100, 30);

    }

    // .talk__content

    &__content {
        @include adaptive-value("padding-top", 165, 55);
        @include adaptive-value("padding-bottom", 103, 40);
        position: relative;

        &::before {
            position: absolute;
            content: "";
            top: rem(-1);
            left: 0;
            background: url('/img/talk/decor.svg') 0 0 no-repeat;
            aspect-ratio: 581 / 45;
            @include adaptive-value("width", 581, 300);
        }
    }

    // .talk__title

    &__title {
        font-weight: 800;
        @include adaptive-value("font-size", 64, 32);
        line-height: percent(76, 64);

        @media (max-width: em(767.98)) {
            font-weight: 700;
        }

        &:not(:last-child) {
            margin-bottom: rem(24);
        }
    }

    // .talk__done

    &__done {
        @media (max-width: em(991.98)) {
            justify-content: center;
        }

        &:not(:last-child) {
            margin-bottom: rem(24);
        }
    }

    // .talk__button

    &__button {}


    // .talk__image

    &__image {
        aspect-ratio: 966 / 655;
        max-width: rem(966);
        @include adaptive-value("max-width", 966, 510, 2, $maxWidth, 991.98);

        @media (min-width: em(991.98)) {
            position: absolute;
            bottom: 0;
            right: 0;
        }

        img {
            max-width: 100%;
            height: 100%;
        }
    }
}

// ==================================================================== Footer =======================================================
.footer {
    @include adaptive-value("padding-top", 52, 36);
    background-color: $blue;

    // .footer__container

    &__container {}

    // .footer__content

    &__content {}

    // .footer__subscribe

    &__subscribe {}

    // .footer__body

    &__body {
        @include adaptive-value("padding-bottom", 100, 30);
        display: flex;
        justify-content: space-between;
        gap: rem(30);

        @media (max-width: em(767.98)) {
            flex-direction: column;
        }
    }

    // .footer__info

    &__info {
        max-width: rem(460);
        display: grid;
        gap: rem(32);
        align-content: start;
    }

    // .footer__logo

    &__logo {
        img {
            max-width: 100%;
        }
    }

    // .footer__text

    &__text {}

    // .footer__social

    &__social {}

    // .footer__menu

    &__menu {}

    // .footer__copy

    &__copy {
        border-top: rem(1) solid #5BC9F8;
        padding-block: rem(32);
        text-align: center;

        @media (max-width: em(359.98)) {
            font-size: rem(16);
        }
    }
}

.subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(24);
    background-color: #4AC9FF;
    border-radius: rem(24);
    padding: rem(20);
    @include adaptive-value("margin-bottom", 54, 30);

    @media (max-width: em(991.98)) {
        flex-direction: column;
        align-items: start;
    }

    // .subscribe-footer__body

    &__body {}

    // .subscribe-footer__title

    &__title {
        font-weight: 700;
        line-height: percent(32, 24);
        font-size: rem(24);

        &:not(:last-child) {
            margin-bottom: rem(12);
        }
    }

    // .subscribe-footer__text

    &__text {}

    // .subscribe__form

    &__form {
        position: relative;
        flex: 0 1 rem(516);
        border-radius: rem(60);
        background-color: #fff;
        display: flex;
        padding: rem(12);

        .form__error {
            font-size: rem(16);
            position: absolute;
            bottom: -25%;
            left: 6%;
            color: $darkBlue;
        }

        @media (max-width: em(991.98)) {
            width: 100%;
            flex: 1 1 auto;
        }
    }

    // .subscribe__input

    &__input {
        flex: 1 1 auto;
        padding: 0 rem(16);
        color: darkblue;

        &::placeholder {
            color: $gray3;
            line-height: percent(28, 18);
        }
    }

    // .subscribe__button

    &__button {
        border-radius: rem(60);
        background-color: $blue;
        @include adaptive-value("padding-block", 14, 8);
        @include adaptive-value("padding-inline", 36, 16);
        font-size: rem(20);
        font-weight: 700;
        line-height: percent(24, 18);
        transition: all 0.3s ease 0s;

        @media (max-width: em(991.98)) {
            font-size: rem(16);
        }

        @media(any-hover:hover) {
            &:hover {
                background-color: $darkBlue;
            }
        }
    }
}


.social {
    display: flex;
    gap: rem(24);

    // .social__item

    &__item {}

    // .social__link

    &__link {
        img {
            transition: all 0.3s ease 0s;

            @media(any-hover:hover) {
                &:hover {
                    transform: scale(1.3);
                }
            }

            max-width: 100%;
        }
    }
}

.menu-footer {
    display: grid;
    grid-template-columns: auto auto;
    @include adaptive-value("column-gap", 102, 56);
    justify-content: start;

    // .menu-footer__block

    &__block {}

    // .menu-footer__title

    &__title {
        font-weight: 700;
        line-height: percent(32, 24);
        font-size: rem(24);

        &:not(:last-child) {
            margin-bottom: rem(24);
        }
    }

    // .menu-footer__list

    &__list {}

    // .menu-footer__item

    &__item {
        &:not(:last-child) {
            margin-bottom: rem(12);
        }
    }

    // .menu-footer__link

    &__link {
        font-size: rem(20);
        line-height: percent(32, 20);

        @media(any-hover:hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}